<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Admin Panel</a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <span class="navbar-text me-3">Welcome, <%= user.username %></span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>